---
import { render, type CollectionEntry } from "astro:content";
import { Icon } from "astro-icon/components";
import { formatFullDate } from "@/utils/time";
import ImageModule from "@components/misc/ImageModule.astro";

interface Props {
  entry: CollectionEntry<"blog">;
  title: string;
  description: string;
  image: string;
  pubDate: Date;
  url: string;
  fallback?: boolean;
}

const { entry, title, description, image, pubDate, url } = Astro.props;
const pageUrl = `/blog/${url}/`;
const { remarkPluginFrontmatter } = await render(entry);
---

<div data-aos="fade-up" class="mx-auto my-6 block w-full max-w-[var(--page-width)] min-w-0 overflow-hidden rounded-xl border border-[var(--button-border-color)] shadow">
  {image && (
    <a href={pageUrl} class="hover-scale block h-60 overflow-hidden cover">
      <ImageModule src={image} alt={title} class="h-full w-full object-cover" />
    </a>
  )}
  <div class="content p-6">
    <a href={pageUrl} class="group mb-3 flex items-center text-xl font-semibold text-[var(--text-color)] transition-colors duration-300 ease-in-out hover:text-[var(--link-color)] active:text-[var(--link-color)]">
      <span class="flex items-center">
        {entry.data.pinTop > 0 && <Icon name="fluent:pin-24-filled" class="mr-1" />}
        {title}
      </span>
      <Icon name="fa6-solid:angle-right" class="ml-2 translate-x-[-5px] text-[var(--text-color)] opacity-100 transition-all duration-300 ease-in-out group-hover:translate-x-0 group-hover:text-[var(--link-color)] md:opacity-0 md:group-hover:opacity-100" />
    </a>
    <p class="mt-2 leading-relaxed text-[var(--text-color-70)]">{description}</p>
    <div class="mt-4 flex items-center justify-start space-x-4 text-sm text-[var(--text-color-70)]">
      <p class="pubdate flex items-center whitespace-nowrap">
        <Icon name="fa6-solid:calendar-days" class="mr-1" />
        <span class="px-1 py-1">{formatFullDate(pubDate, "zh-CN")}</span>
      </p>
    </div>
    <div class="mt-2 flex flex-wrap items-center justify-start gap-2 text-sm text-[var(--text-color-70)]">
      <p class="words mr-2 flex items-center whitespace-nowrap">
        <Icon name="fa6-solid:pen-nib" class="mr-1" />
        <span class="px-1 py-1">{remarkPluginFrontmatter.words || 0} 字</span>
      </p>
      <p class="reading-time mr-2 flex items-center whitespace-nowrap">
        <Icon name="fa6-solid:clock" class="mr-1" />
        <span class="px-1 py-1">{remarkPluginFrontmatter.minutes || 0} 分钟</span>
      </p>
      <p class="mr-2 flex items-center whitespace-nowrap">
        <Icon name="fa6-solid:hashtag" class="mr-1" />
        <span class="category-tag">{entry.data.category}</span>
      </p>
    </div>
  </div>
</div>

<style is:global>
  .hover-scale {
    transition: transform 0.3s ease;
  }

  .hover-scale:hover {
    transform: scale(1.05);
  }

  .category-tag {
    display: inline-block;
    border-radius: 0.25rem;
    padding: 0.25rem 0.25rem;
    transition: all 0.3s ease;
  }
</style>
